<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.zj.example.rxjava2"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

        </activity>
        <!--<activity android:name=".LifecyclerRootActivity">-->
        <activity android:name=".backpressure.ObservableExample">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".LifecycleExample1Activity"/>
        <activity android:name=".LifecycleExample2Activity"/>
        <activity android:name=".LifecycleExample3Activity"/>
        <activity android:name=".LifecycleExample4Activity"/>
        <activity android:name=".LifecycleExample5Activity"/>
        <activity android:name=".LifecycleExample6Activity"/>
        <activity android:name=".LifecycleExample7Activity"/>
        <activity android:name=".LifecycleExample8Activity"/>
    </application>

</manifest>